body {
  background-color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#loginform {
width:100%;
max-width:420px;
background:white;
border-radius:12px;
padding:28px;
border: 1px solid white;
}

h1 {
 font-weight: bold;
 font-size: 20px;
 margin-top: 8px;
}
.text {
  font-size: 14px;
  margin-top: -10px
}
label {
  display: block;
  font-size: 13px;
  margin-bottom: -17px;
}
.mail input {
  border-radius: 8px;
  border: 1px solid;
  width: 100%;
  padding:10px 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  padding-right: 2px;
}
.project {
  display: flex;
  justify-content: space-between;
}
.btn {
  display: inline-block;
  width: 100%;
  background-color: blue;
  padding: 11px 14px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  align-items: center;
  border: none;
}
.error {
  color: red;
  font-size: 12px;
  margin: 0;
}